<template>
  <div>
    <!-- Introduction -->
    <section class="mb-8 py-20 text-white text-center relative">
      <div
        class="absolute inset-0 w-full h-full bg-contain introduction-bg"
        style="background-image: url(assets/img/header.png)"
      ></div>
      <div class="container mx-auto">
        <div class="text-white main-header-content">
          <!-- $t() is the i18n function -->
          <h1 class="font-bold text-5xl mb-5">
            {{ $t("home.listen") }}
          </h1>
          <p class="w-full md:w-8/12 mx-auto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et dolor
            mollis, congue augue non, venenatis elit. Nunc justo eros, suscipit ac aliquet
            imperdiet, venenatis et sapien. Duis sed magna pulvinar, fringilla lorem eget,
            ullamcorper urna.
          </p>
        </div>
      </div>

      <img
        class="relative block mx-auto mt-5 -mb-20 w-auto max-w-full"
        src="assets/img/introduction-music.png"
      />
    </section>

    <!-- Main Content -->
    <section class="container mx-auto pb-12">
      <div class="bg-white rounded border border-gray-200 relative flex flex-col">
        <div
          class="px-6 pt-6 pb-5 font-bold border-b border-gray-200"
          v-icon.right.yellow="'headphones-alt'"
        >
          <span class="card-title">Songs</span>
        </div>
        <!-- Playlist -->
        <ol id="playlist">
          <app-song-item v-for="song in songs" :key="song.id" :song="song" />
        </ol>
        <!-- .. end Playlist -->
      </div>
    </section>
  </div>
</template>

<script>
import { songCollection } from "../plugin/firebase";
import AppSongItem from "../components/SongItem.vue";
export default {
  components: {
    AppSongItem,
  },
  data() {
    return {
      songs: [],
      maxPerPage: 5,
      peddingRequest: false,
    };
  },
  // Get all songs when enter the page
  async created() {
    this.getSong();
    // Pagination
    window.addEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      const { offsetHeight, scrollTop } = document.documentElement;
      const { innerHeight } = window;
      const bottomOfView = Math.round(scrollTop) + innerHeight === offsetHeight;

      // console.log(offsetHeight, scrollTop, innerHeight);

      if (bottomOfView) {
        this.getSong();
      }
    },
    async getSong() {
      if (this.peddingRequest) {
        return;
      }
      this.peddingRequest = true;
      let snapshots;
      // check if songs is not empty then get the next limit songs after last
      if (this.songs.length) {
        const lastDoc = await songCollection
          .doc(this.songs[this.songs.length - 1].id)
          .get();

        snapshots = await songCollection
          .orderBy("modified_name")
          .startAfter(lastDoc)
          .limit(this.maxPerPage)
          .get();
      } else {
        // if songs is empty, get the limit songs from first song
        snapshots = await songCollection
          .orderBy("modified_name")
          .limit(this.maxPerPage)
          .get();
      }

      snapshots.forEach((doc) => {
        this.songs.push({
          id: doc.id,
          ...doc.data(),
        });
      });

      this.peddingRequest = false;
    },
  },
};
</script>

<style lang="scss" scoped></style>
