<template>
  <div>
    <section class="container mx-auto mt-6 mb-12">
      <div class="md:grid md:grid-cols-3 md:gap-4">
        <div class="col-span-1">
          <upload :addSong="addSong" />
        </div>
        <div class="col-span-2">
          <div
            class="
              bg-white
              rounded
              border border-gray-200
              relative
              flex flex-col
            "
          >
            <div class="px-6 pt-6 pb-5 font-bold border-b border-gray-200">
              <span class="card-title">My Songs</span>
              <i
                class="fa fa-compact-disc float-right text-green-400 text-2xl"
              ></i>
            </div>
            <div class="p-6">
              <!-- Composition Item -->
              <composition-item
                v-for="(song, index) in songs"
                :key="song.id"
                :song="song"
                :updateSong="updateSong"
                :index="index"
                :removeSong="removeSong"
                :updateUnSaveFlag="updateUnSaveFlag"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import CompositionItem from "../components/CompositionItem.vue";
import Upload from "../components/Upload.vue";
import { songCollection, auth } from "../plugin/firebase";
export default {
  components: {
    Upload,
    CompositionItem,
  },
  data() {
    return {
      songs: [],
      unSaveFlag: false,
    };
  },
  async created() {
    const snapshot = await songCollection
      .where("uid", "==", auth.currentUser.uid)
      .get();

    snapshot.forEach(this.addSong);

    // console.log(snapshot);
  },
  beforeRouteLeave(to, from, next) {
    if (!this.unSaveFlag) {
      next();
    } else {
      const leave = confirm(
        "You have unsave changes. Are you sure to leave this page?"
      );
      next(leave);
    }
  },

  methods: {
    //#region Add Song
    addSong(doc) {
      const song = { ...doc.data(), id: doc.id };
      this.songs.push(song);
    },
    //#endregion

    //#region Update Song
    updateSong(i, values) {
      this.songs[i].modified_name = values.modified_name;
      this.songs[i].genre = values.genre;
    },
    //#endregion

    //#region Remove Song
    removeSong(i) {
      this.songs.splice(i, 1);
    },
    //#endregion

    //#region UpdateUnSaveFlag
    updateUnSaveFlag(value) {
      this.unSaveFlag = value;
    },
    //#endregion
  },
};
</script>

<style lang="scss" scoped></style>
