<template>
  <div class="mb-12">
    <!-- Music Header -->
    <section class="w-full mb-8 py-14 text-center text-white relative">
      <div
        class="absolute inset-0 w-full h-full box-border bg-contain music-bg"
        style="background-image: url(/assets/img/song-header.png)"
      ></div>
      <div class="container mx-auto flex items-center">
        <!-- Play/pause button -->
        <button
          type="button"
          class="z-50 h-24 w-24 text-3xl bg-white text-black rounded-full focus:outline-none"
          @click.prevent="newSong(song)"
        >
          <i class="fas fa-play"></i>
        </button>
        <!-- Song info -->
        <div class="z-50 text-left ml-8">
          <div class="text-3xl font-bold">{{ song.modified_name }}</div>
          <div>{{ song.genre }}</div>
        </div>
      </div>
    </section>

    <!-- Form -->
    <section class="container mx-auto mt-6" id="comments">
      <div class="bg-white rounded border border-gray-200 relative flex flex-col">
        <div class="px-6 pt-6 pb-5 font-bold border-b border-gray-200">
          <!-- using $tc() to suport pluralize  -->
          <span class="card-title">{{
            $tc("song.comment_count", { count: song.comment_count })
          }}</span>
          <i class="fa fa-comments float-right text-green-400 text-2xl"></i>
        </div>
        <div class="p-6">
          <div
            class="text-center font-bold p-5 text-white mb-4"
            :class="alertVarian"
            v-if="showAlert"
          >
            {{ alertMessage }}
          </div>
          <vee-form
            :validation-schema="commentSchema"
            @submit="addComment"
            v-if="userLoggedIn"
          >
            <vee-field
              as="textarea"
              name="comment"
              class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded mb-4"
              placeholder="Your comment here..."
            ></vee-field>

            <button
              type="submit"
              class="py-1.5 px-3 rounded text-white bg-green-600"
              :disabled="inSubmisstion"
            >
              Submit
            </button>
            <ErrorMessage class="text-red-500 ml-2" name="comment" />
          </vee-form>
          <select
            v-model="sort"
            class="block mt-4 py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
          >
            <option value="asc">Latest</option>
            <option value="desc">Oldest</option>
          </select>
        </div>
      </div>
    </section>
    <!-- Comments -->
    <ul class="container mx-auto">
      <li
        class="p-6 bg-gray-50 border border-gray-200"
        v-for="comment in sortedComments"
        :key="comment.id"
      >
        <!-- Comment Author -->
        <div class="mb-5">
          <div class="font-bold">{{ comment.userName }}</div>
          <time>{{ comment.datePosted }}</time>
        </div>

        <p>
          {{ comment.content }}
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
import { songCollection, auth, commentCollection } from "../plugin/firebase";
import { mapState, mapActions } from "vuex";
export default {
  name: "Song",
  data() {
    return {
      commentSchema: {
        comment: "required|min:3",
      },
      song: [],
      comments: [],
      sort: "asc",
      inSubmisstion: false,
      showAlert: false,
      alertVarian: "bg-blue-500",
      alertMessage: "Please wait! your comment is being submitted.",
    };
  },
  async beforeRouteEnter(to, from, next) {
    const songSnapshots = await songCollection.doc(to.params.id).get();

    // (this) keyword will not allow because component is not loaded yet
    next((vm) => {
      if (!songSnapshots.exists) {
        vm.$router.push({ name: "Home" });
        return;
      }
      // sort query
      const { sort } = vm.$route.query;
      vm.sort = sort === "asc" || sort === "desc" ? sort : "asc";

      vm.song = songSnapshots.data();
      vm.getComments();
    });
  },
  computed: {
    // ...mapState(["userLoggedIn"]),
    ...mapState({
      userLoggedIn: (state) => state.auth.userLoggedIn,
    }),
    sortedComments() {
      return this.comments.slice().sort((a, b) => {
        if (this.sort === "asc") {
          return new Date(b.datePosted) - new Date(a.datePosted);
        }
        return new Date(a.datePosted) - new Date(b.datePosted);
      });
    },
  },
  watch: {
    // router query parameter
    sort(newValue) {
      if (newValue === this.$route.query.sort) {
        return;
      }
      this.$router.push({
        query: {
          sort: newValue,
        },
      });
    },
  },
  methods: {
    ...mapActions(["newSong"]),
    async addComment(values, { resetForm }) {
      this.inSubmisstion = true;
      this.showAlert = true;
      this.alertVarian = "bg-blue-500";
      this.alertMessage = "Please wait! your comment is being submitted.";

      const comment = {
        content: values.comment,
        datePosted: new Date().toString(),
        songId: this.$route.params.id,
        userName: auth.currentUser.displayName,
        uid: auth.currentUser.uid,
      };
      await commentCollection.add(comment);

      // Reload the comments after added comment
      this.getComments();

      // update song comment_count in song object
      this.song.comment_count += 1;

      // update the song comment_count in firebase commentsCollection
      await songCollection
        .doc(this.$route.params.id)
        .update({ comment_count: this.song.comment_count });

      this.inSubmisstion = false;
      this.alertVarian = "bg-green-500";
      this.alertMessage = "You have comment successfully.";

      // reset to default form input value
      resetForm();
    },

    async getComments() {
      const commentSnapshots = await commentCollection
        .where("songId", "==", this.$route.params.id)
        .get();

      this.comments = [];

      commentSnapshots.forEach((doc) => {
        this.comments.push({
          ...doc.data(),
          id: doc.id,
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped></style>
