<template>
  <div>
    <div class="border border-gray-200 p-3 mb-4 rounded">
      <div v-show="!showForm">
        <h4 class="inline-block text-2xl font-bold">
          {{ song.modified_name }}
        </h4>
        <button
          class="ml-1 py-1 px-2 text-sm rounded text-white bg-red-600 float-right"
          @click.prevent="deleteSong"
        >
          <i class="fa fa-times"></i>
        </button>
        <button
          class="ml-1 py-1 px-2 text-sm rounded text-white bg-blue-600 float-right"
          @click.prevent="showForm = !showForm"
        >
          <i class="fa fa-pencil-alt"></i>
        </button>
      </div>
      <div v-show="showForm">
        <!-- Alert message box -->
        <div
          class="text-center font-bold p-5 text-white mb-4"
          :class="alertVarian"
          v-if="showAlert"
        >
          {{ alertMessage }}
        </div>
        <vee-form :validation-schema="songSchema" :initial-values="song" @submit="edit">
          <div class="mb-3">
            <label class="inline-block mb-2">Song Title</label>
            <vee-field
              type="text"
              name="modified_name"
              class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
              placeholder="Enter Song Title"
              @input.prevent="updateUnSaveFlag(true)"
            />
            <ErrorMessage class="text-red-500" name="modified_name" />
          </div>
          <div class="mb-3">
            <label class="inline-block mb-2">Genre</label>
            <vee-field
              type="text"
              name="genre"
              class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
              placeholder="Enter Genre"
              @input.prevent="updateUnSaveFlag(true)"
            />
            <ErrorMessage class="text-red-500" name="genre" />
          </div>
          <button
            type="submit"
            class="py-1.5 px-3 mr-1 rounded text-white bg-green-600"
            :disabled="inSubmission"
          >
            Submit
          </button>
          <button
            type="submit"
            class="py-1.5 px-3 rounded text-white bg-gray-600"
            :disabled="inSubmission"
            @click.prevent="showForm = false"
          >
            Go Back
          </button>
        </vee-form>
      </div>
    </div>
  </div>
</template>

<script>
import { songCollection, storage } from "../plugin/firebase";
export default {
  name: "CompositionItem",
  props: {
    song: {
      type: Object,
      required: true,
    },
    updateSong: {
      type: Function,
      required: true,
    },
    removeSong: {
      type: Function,
      required: true,
    },
    updateUnSaveFlag: {
      type: Function,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      songSchema: {
        modified_name: "required|min:4",
        genre: "alphaSpaces",
      },
      showForm: false,
      inSubmission: false,
      showAlert: false,
      alertVarian: "bg-blue-500",
      alertMessage: "Please wait! your song is being updated...",
    };
  },
  methods: {
    // Edit song
    async edit(values) {
      this.inSubmission = true;
      this.showAlert = true;
      this.alertVarian = "bg-blue-500";
      this.alertMessage = "Please wait! your song is being updated...";

      try {
        await songCollection.doc(this.song.id).update(values);
      } catch (error) {
        this.inSubmission = false;
        this.alertVarian = "bg-red-500";
        this.alertMessage = error.message;
        return;
      }
      // Update song after edited
      this.updateSong(this.index, values);
      // Confirm if the user leave the page wihout saving
      this.updateUnSaveFlag(false);

      this.inSubmission = false;
      this.alertVarian = "bg-green-500";
      this.alertMessage = "Song updated successfully.";
    },

    // Delete song
    async deleteSong() {
      try {
        const storageRef = storage.ref(); //'music-62bac.appspot.com'
        const songsRef = storageRef.child(`songs/${this.song.original_name}`); //music-62bac.appspot.com/songs/example.mp3
        // must modified the firebase Storage Rules to (allow delete: if request.auth != null;)
        await songsRef.delete();
        await songCollection.doc(this.song.id).delete();
      } catch (error) {
        console.log(error.message);
      }

      // remove song from the specific array index
      this.removeSong(this.index);
    },
  },
};
</script>

<style lang="scss" scoped></style>
