<template>
  <div>
    <!-- Login Form -->
    <div
      class="text-white text-center p-5 mb-4"
      :class="loginAlertVarian"
      v-if="loginShowAlert"
    >
      {{ loginAlertMessage }}
    </div>
    <vee-form @submit="login" :validation-schema="loginSchema">
      <!-- Email -->
      <div class="mb-3">
        <label class="inline-block mb-2">Email</label>
        <vee-field
          name="email"
          type="email"
          class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
          placeholder="Enter Email"
        />
        <ErrorMessage class="text-red-600" name="email" />
      </div>
      <!-- Password -->
      <div class="mb-3">
        <label class="inline-block mb-2">Password</label>
        <vee-field
          name="password"
          type="password"
          class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
          placeholder="Password"
        />
        <ErrorMessage class="text-red-600" name="password" />
      </div>
      <button
        type="submit"
        :disabled="loginSubmission"
        :class="{
          'bg-gray-500 cursor-default': loginSubmission,
          'bg-purple-600 hover:bg-purple-700': !loginSubmission,
        }"
        class="block w-full text-white py-1.5 px-3 rounded transition"
      >
        Submit
      </button>
    </vee-form>
  </div>
</template>

<script>
export default {
  name: "LoginForm",
  data() {
    return {
      loginSchema: {
        email: "required|email",
        password: "required|min:4|max:100",
      },

      loginSubmission: false,
      loginShowAlert: false,
      loginAlertVarian: "bg-blue-500",
      loginAlertMessage: "Please wait! your account is being login.",
    };
  },
  methods: {
    async login(values) {
      this.loginSubmission = true;
      this.loginShowAlert = true;

      this.loginAlertVarian = "bg-blue-500";
      this.loginAlertMessage = "Please wait! your account is being login.";

      // auth user login using firebase.auth()
      try {
        await this.$store.dispatch("login", values);
      } catch (error) {
        this.loginSubmission = false;
        this.loginAlertVarian = "bg-red-500";
        this.loginAlertMessage = error.message;
        return;
      }

      this.loginAlertVarian = "bg-green-500";
      this.loginAlertMessage = "Success! you have login.";

      window.location.reload();
    },
  },
};
</script>

<style lang="scss" scoped></style>
