<template>
  <div>
    <!-- Registration Form -->
    <div
      class="text-center font-bold p-5 text-white mb-4"
      :class="regAlertVarian"
      v-if="regShowAlert"
    >
      {{ regAlertMessage }}
    </div>
    <!-- initial-values is used to initialize default value that match to the object property in the vee-field name -->
    <vee-form
      @submit="register"
      :validation-schema="registerSchema"
      :initial-values="userData"
    >
      <!-- Name -->
      <div class="mb-3">
        <label class="inline-block mb-2">Name</label>
        <vee-field
          type="text"
          name="name"
          class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
          placeholder="Enter Name"
          :rules="'required'"
        />
        <ErrorMessage class="text-red-600" name="name" />
      </div>
      <!-- Email -->
      <div class="mb-3">
        <label class="inline-block mb-2">Email</label>
        <vee-field
          type="email"
          class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
          placeholder="Enter Email"
          name="email"
        />
        <ErrorMessage class="text-red-600" name="email" />
      </div>
      <!-- Age -->
      <div class="mb-3">
        <label class="inline-block mb-2">Age</label>
        <vee-field
          type="number"
          name="age"
          class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
        />
        <ErrorMessage class="text-red-600" name="age" />
      </div>
      <!-- Password -->
      <div class="mb-3">
        <label class="inline-block mb-2">Password</label>
        <vee-field name="password" :bails="false" v-slot="{ field, errors }">
          <input
            type="password"
            class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
            placeholder="Password"
            v-bind="field"
          />
          <div class="text-red-600" v-for="error in errors" :key="error">
            {{ error }}
          </div>
        </vee-field>
        <ErrorMessage name="password" class="text-red-600" />
      </div>
      <!-- Confirm Password -->
      <div class="mb-3">
        <label class="inline-block mb-2">Confirm Password</label>
        <vee-field
          name="confirmPassword"
          type="password"
          class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
          placeholder="Confirm Password"
        />
        <ErrorMessage name="confirmPassword" class="text-red-600" />
      </div>
      <!-- Country -->
      <div class="mb-3">
        <label class="inline-block mb-2">Country</label>
        <vee-field
          as="select"
          name="country"
          class="block w-full py-1.5 px-3 text-gray-800 border border-gray-300 transition duration-500 focus:outline-none focus:border-black rounded"
        >
          <option value="USA">USA</option>
          <option value="Mexico">Mexico</option>
          <option value="Germany">Germany</option>
          <option value="Atalanta">Atalanta</option>
        </vee-field>
        <ErrorMessage class="text-red-600" name="country" />
      </div>
      <!-- TOS -->
      <div class="mb-3 pl-6">
        <vee-field
          name="tos"
          type="checkbox"
          class="w-4 h-4 float-left -ml-6 mt-1 rounded"
          value="1"
          id="tos"
        />
        <label class="inline-block" for="tos">Accept terms of service</label>
        <ErrorMessage class="text-red-600 block" name="tos" />
      </div>
      <button
        type="submit"
        :disabled="regInSubmisstion"
        :class="{
          'bg-gray-500 cursor-default': regInSubmisstion,
          'bg-purple-600 hover:bg-purple-700': !regInSubmisstion,
        }"
        class="block w-full text-white py-1.5 px-3 rounded transition"
      >
        Submit
      </button>
    </vee-form>
  </div>
</template>

<script>
export default {
  name: "RegisterForm",
  data() {
    return {
      registerSchema: {
        name: "required|min:4|max:100|alphaSpaces",
        email: "required|email",
        age: "required|min_value:18",
        password: "required|min:4|max:100",
        confirmPassword: "required|passwordMisMatch:@password",
        country: "required|countryExcluded:Atalanta",
        tos: "tos",
      },
      userData: {
        country: "USA",
      },
      regInSubmisstion: false,
      regShowAlert: false,
      regAlertVarian: "bg-blue-500",
      regAlertMessage: "Please wait! your accout is being created.",
    };
  },
  methods: {
    async register(values) {
      this.regInSubmisstion = true;
      this.regShowAlert = true;

      this.regAlertVarian = "bg-blue-500";
      this.regAlertMessage = "Please wait! your accout is being created.";

      try {
        await this.$store.dispatch("register", values);
      } catch (error) {
        this.regInSubmisstion = false;
        this.regAlertVarian = "bg-red-500";
        this.regAlertMessage = error.message;
        console.log(error);
        return;
      }

      this.regAlertVarian = "bg-green-500";
      this.regAlertMessage = "Success! your account has been created.";

      window.location.reload();
    },
  },
};
</script>

<style lang="scss" scoped></style>
