<template>
  <div class="bg-white rounded border border-gray-200 relative flex flex-col">
    <div class="px-6 pt-6 pb-5 font-bold border-b border-gray-200">
      <span class="card-title">Upload</span>
      <i class="fas fa-upload float-right text-green-400 text-2xl"></i>
    </div>
    <div class="p-6">
      <div
        class="w-full px-10 py-20 rounded text-center cursor-pointer border border-dashed border-gray-400 text-gray-400 transition duration-500 hover:text-white hover:bg-green-400 hover:border-green-400 hover:border-solid"
        :class="{ 'bg-green-500 border-green-500 border-solid': isDragover }"
        @drag.prevent.stop=""
        @dragstart.prevent.stop=""
        @dragover.prevent.stop="isDragover = true"
        @dragenter.prevent.stop="isDragover = true"
        @dragend.prevent.stop="isDragover = false"
        @dragleave.prevent.stop="isDragover = false"
        @drop.prevent.stop="upload"
      >
        <h5>Drop your files here</h5>
      </div>
      <input type="file" multiple @change="upload" />
      <hr class="my-6" />
      <div class="mb-4" v-for="upload in uploads" :key="upload.name">
        <div class="font-bold text-sm" :class="upload.textClass">
          <i :class="upload.icon"></i>
          {{ upload.name }}
        </div>
        <div class="flex h-4 overflow-hidden bg-gray-200 rounded">
          <div
            class="transition-all progress-bar"
            :class="upload.varian"
            :style="{ width: upload.currentProgress + '%' }"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { storage, auth, songCollection } from "../plugin/firebase";
export default {
  name: "Upload",
  data() {
    return {
      isDragover: false,
      uploads: [],
    };
  },
  props: {
    addSong: {
      type: Function,
    },
  },
  methods: {
    upload(event) {
      this.isDragover = false;

      // spread the event.dataTransfer.files object to array
      const files = event.dataTransfer
        ? [...event.dataTransfer.files] // dataTransfer is used with drag and drop event
        : [...event.target.files]; // target is used with input file field
      files.forEach((file) => {
        //   Check if the file type is mp3 then return
        if (file.type !== "audio/mpeg") {
          return;
        }

        const storageRef = storage.ref(); //'music-62bac.appspot.com'
        const songsRef = storageRef.child(`songs/${file.name}`); //music-62bac.appspot.com/songs/example.mp3
        //put(file) is the file to upload the firebase
        const task = songsRef.put(file);

        // get the current upload progress
        const uploadIndex =
          this.uploads.push({
            //push new object to the array
            task,
            currentProgress: 0,
            name: file.name,
            varian: "bg-blue-400",
            icon: "fas fa-spinner fa-spin",
            textClass: "",
          }) - 1;

        // search on google firebase upload
        task.on(
          "state_change",
          (snapshot) => {
            const progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            this.uploads[uploadIndex].currentProgress = progress;
          },
          (error) => {
            this.uploads[uploadIndex].varian = "bg-red-400";
            this.uploads[uploadIndex].icon = "fas fa-times";
            this.uploads[uploadIndex].textClass = "text-red-400";
            console.log(error.message);
          },
          async () => {
            // storing the song in the database
            // Creating new object about song
            const song = {
              uid: auth.currentUser.uid,
              display_name: auth.currentUser.displayName,
              original_name: task.snapshot.ref.name,
              modified_name: task.snapshot.ref.name,
              genre: "",
              comment_count: 0,
            };

            song.url = await task.snapshot.ref.getDownloadURL();
            // add the song object to the database
            const songRef = await songCollection.add(song);
            // convert from 'ref' to 'snapshot'
            const songSnapShot = await songRef.get();
            // passing params as the SnapShot
            this.addSong(songSnapShot);

            this.uploads[uploadIndex].varian = "bg-green-400";
            this.uploads[uploadIndex].icon = "fas fa-check";
            this.uploads[uploadIndex].textClass = "text-green-400";
          }
        );
      });
    },
  },
  // Cancel the upload when user leave the page
  beforeUnmount() {
    this.uploads.forEach((upload) => {
      upload.task.cancel();
    });
  },
};
</script>

<style lang="scss" scoped></style>
