<template>
  <div>
    <app-header />

    <router-view v-slot="{ Component }">
      <transition name="fade" mode="out-in">
        <component :is="Component"></component>
      </transition>
    </router-view>

    <app-player />

    <auth />
  </div>
</template>

<script>
import AppPlayer from "./components/Player.vue";
import AppHeader from "./components/AppHeader.vue";
import Auth from "./components/Auth.vue";
export default {
  name: "App",
  components: { AppHeader, AppPlayer, Auth },
};
</script>

<style scoped>
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s linear;
}
</style>
